/* --- 基本リセット --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* 全体のベーススタイル */
body {
    background-color: #f5f5f5;
    color: #222;
    font-family: 'Josefin Sans', sans-serif;    
  }
  
  /* ヘッダー / ナビ */
header {
    background-color: #eaeaea;
    padding: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

/* メニュー */
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 2rem;
}

.menu li {
  flex: 1 1 200px;
  text-align: center;
}

.menu li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #000;
}

/* ハンバーガーボタン */
.hamburger {
  width: 30px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transform-origin: center;
  transition: all 0.3s ease;
}

/* アニメーション */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px -5px);
}

/* レスポンシブ */
@media (max-width: 700px) {
  .hamburger {
    display: flex;
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    padding: 1rem;
    display: none;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    /* align-items: center; */
  }
  
  .menu li {
    flex: none;
    width: 100%;
  }

  .menu.show {
    display: flex;
  }
}

  header h1 {
    margin: 0;
    font-size: 2rem;
    color: #064e3b;
  }
  
  header p {
    margin-top: 0.5rem;
    color: #065f46;
  }

/* --- コンテンツ全体 --- */
.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* --- Contact セクション --- */
.contact {
  margin-bottom: 3rem;
  text-align: center;
}

.contact h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact h2 {
  font-size: 1.3rem;
  margin: 6rem 0 2rem;
  color: #333;
}

.contact-description,
.contact-social {
  font-size: 1rem;
  color: #444;
}

/* --- SNSリンクエリア --- */
.social ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.social li {
  /* width: 60px; */
  /* height: 60px; */
  margin: 3rem;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.social li:hover {
  background-color: #cfcfcf;
}

.social a {
  display: inline-block;
  color: #333;
  transition: color 0.3s;
}

.social a:hover {
  color: #000;
}

