/* --- 基本リセット --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #222;
  font-family: "Josefin Sans", sans-serif;
}

/* --- ヘッダー / ナビ --- */
header {
  background-color: #eaeaea;
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

/* メニュー */
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  flex-direction: column;
  padding: 1rem;
  display: none;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
  /*
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: space-around;
  */
}

/* .menu li {
  flex: 1 1 150px;
  text-align: center;
}
*/

.menu li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: color 0.3s;
  /*display: block;
  padding: 0.5rem 1rem;
  */
}

.menu li a:hover {
  color: #000;
}

/* ハンバーガーボタン */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* レスポンシブ */
@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
  
  .menu {
    position: absolute;
    top: 70px;
    right: 1rem;
    background: #fff;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    display: none;
    /* align-items: center; */
  }

   /*
  .menu li {
    flex: none;
    width: 100%;
  }
  */

  .menu.show {
    display: flex;
  }
}

/* --- メイン中央レイアウト --- */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: center;
  min-height: 70vh;
}

/* --- ロゴ --- */
.icon-wrapper {
  max-width: 500px;
}

.main-icon {
  width: 400px;
  height: auto;
  margin-bottom: 1rem;
}

/* --- テキスト部分 --- */
.name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #333;
  line-height: 50px;
}

.descript-link {
  color: #444;
  text-decoration: underline;
  transition: color 0.3s;
}

.descript-link:hover {
  color: #111;
}
