/* --- 基本リセット --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #222;
  font-family: "Josefin Sans", sans-serif;
}

/* --- ヘッダー / ナビ --- */
header {
  background-color: #eaeaea;
  padding: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

/* メニュー */
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 2rem;
}

.menu li {
  flex: 1 1 200px;
  text-align: center;
}

.menu li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #000;
}

/* ハンバーガーボタン */
.hamburger {
  width: 30px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* アニメーション */
.hamburger.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* レスポンシブ */
@media (max-width: 700px) {
  .hamburger {
    display: flex;
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    padding: 1rem;
    display: none;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    /* align-items: center; */
  }
  
  .menu li {
    flex: none;
    width: 100%;
  }

  .menu.show {
    display: flex;
  }
}

/* --- メイン中央レイアウト --- */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: center;
  min-height: 70vh;
}

/* --- ロゴ --- */
.icon-wrapper {
  max-width: 500px;
}

.main-icon {
  width: 400px;
  height: auto;
  margin-bottom: 1rem;
}

/* --- テキスト部分 --- */
.name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #333;
  line-height: 50px;
}

.descript-link {
  color: #444;
  text-decoration: underline;
  transition: color 0.3s;
}

.descript-link:hover {
  color: #111;
}

